absl-py==0.2.2
aiohttp==1.0.5
asn1crypto==0.24.0
astor==0.6.2
async-timeout==3.0.0
beautifulsoup4==4.6.0
bleach==1.5.0
bs4==0.0.1
cachetools==2.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.5.3
cmake==3.11.0
colorama==0.3.9
coremltools==0.8
cryptography==2.3
cycler==0.10.0
dask==0.18.1
decorator==4.3.0
discord.py==0.16.12
dlib==19.14.0
face-recognition-models==0.3.0
factual-api==1.7.0
Faker==0.8.13
Flask==1.0.2
gast==0.2.0
geographiclib==1.49
geopy==1.15.0
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
grpcio==1.12.1
h5py==2.7.1
html5lib==0.9999999
httplib2==0.11.3
idna==2.7
imutils==0.4.6
itsdangerous==0.24
Jinja2==2.10
joblib==0.12.1
Keras==2.1.6
kiwisolver==1.0.1
lxml==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
middleware==1.2.3
multidict==4.3.1
names==0.3.0
networkx==2.1
numpy==1.14.5
oauthlib==2.1.0
pandas==0.23.0
parmap==1.5.1
Pillow==5.2.0
populartimes==2.0
protobuf==3.6.0
psutil==5.4.6
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.12
requests==2.19.1
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
rsa==4.1
scikit-image==0.14.0
scikit-learn==0.19.1
scikit-plot==0.3.5
scipy==1.1.0
seaborn==0.8.1
selenium==3.11.0
six==1.10.0
sklearn==0.0
slackclient==1.2.1
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-hub==0.1.0
termcolor==1.1.0
text-unidecode==1.2
toolz==0.9.0
tqdm==4.23.4
uritemplate==3.0.0
urllib3==1.23
websocket-client==0.48.0
websockets==3.4
Werkzeug==0.14.1
xmltodict==0.11.0
